body{
  background: url("assets/images/ferdinand-stohr-229736-unsplash.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
}

.intro-card{
  background-color: #C9CBE9;
  margin: auto;
  width: 40%;
  text-align: center;
  border: 5px solid #000;
  padding: 10px;
  color: #4A4A55;
  box-shadow: 2px 2px;
}

.profile-pic{
  border-radius: 50%;
  border: 2px solid #6E6F80;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #011C27;
  opacity: 0.5;
  color: #C0C1CD;
  text-align: center;
}
