* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Atomic Age", cursive;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(7, 7, 27);
  color: gold;
  text-align: center;
  justify-content: center;
}

.header__logo {
}
