body {
	font-family: 'Slabo 27px', serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;

}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}
header{
	background-color: #353637;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;

}
header a{
	color:#ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}
header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #title{
	float: left;
}

header #title h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 10px;
}
#showcase{
	min-height: 400px;
	background: url("showcaseback.jpg") no-repeat center;
	background-size: cover;
	text-align: center;
	color: #000;
}

#showcase h1{
	margin-top: 100px;
	font-size: 30px;
	margin-bottom: 10px;
}
#showcase p{
	font-size: 20px;
}
