* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #f4f4f4;
    color: #666666;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 11pt;
    font-weight: 200;
    line-height: 1.65;
}

p {
    margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    letter-spacing: 0.375rem;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1.25em;
    font-weight: 600;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.7em;
}

li {
    list-style-type: none;
}

/* Project */

.project {
    padding: 3em 3em 1em 3em;
    background-color: #ffffff;
    border-radius: 4px;
    text-align: center;
}

    .project header {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        margin: -3em 0 3em -3em;
        width: calc(100% + 6em);
        height: 15em;
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-align-items: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        background-color: #444;
        color: rgba(255, 255, 255, 0.75);
        position: relative;
        overflow: hidden;
    }

        .project header a {
            color: inherit;
        }

        .project header h1, .project header h2, .project header h3, .project header h4, .project header h5, .project header h6 {
            color: #ffffff;
        }

        .project header a {
            -moz-transition: -moz-transform 0.2s ease;
            -webkit-transition: -webkit-transform 0.2s ease;
            -ms-transition: -ms-transform 0.2s ease;
            transition: transform 0.2s ease;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            filter: gray; 
            -webkit-filter: grayscale(1); 
        }

        .project header:hover a {
            -moz-transform: scale(1.02);
            -webkit-transform: scale(1.02);
            -ms-transform: scale(1.02);
            transform: scale(1.02);
            filter: none;
            -webkit-filter: grayscale(0);
        }

        .project header > * {
            position: relative;
            z-index: 1;
        }

        .project header h3 {
            margin: 0;
            -moz-pointer-events: none;
            -webkit-pointer-events: none;
            -ms-pointer-events: none;
            pointer-events: none;
        }

.projects {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0;
}

    .projects .project {
        max-width: 500px;
        margin: 0 0 2em 0;
    }

    .projects .project:last-child {
        margin-bottom: 0;
    }

/* Wrapper */

#wrapper {
    max-width: 100%;
    padding: 1em 0 0.1em 0;
}

    #wrapper > .main {
        margin-bottom: 1em;
    }

/* Header */

#header {
    background-color: #444;
    color: rgba(255, 255, 255, 0.75);
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 4em 2em 2em 2em;
    background-image: url("../../images/banner.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    position: relative;
    cursor: default;
}

    #header a {
        color: inherit;
    }

        #header a:hover {
            color: #EF6480 !important;
        }

    #header h1, #header h2, #header h3, #header h4, #header h5, #header h6 {
        color: #ffffff;
    }

    #header {
        background-attachment: scroll;
    }

    #header hr {
        border-bottom-color: #ffffff;
    }

    #header:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.25);
    }

    #header h1 {
        margin-bottom: 0.5em;
    }

    #header .inner {
        position: relative;
        z-index: 1;
    }

    #header.alt {
        height: 20em;
        min-height: 20em;
        min-height: 75vh;
    }

        #header.alt h1 {
            font-size: 2.5em;
            text-transform: uppercase;
            padding: 0 0 0.25em 0;
            border-bottom: solid 2px #ffffff;
            font-weight: 600;
            text-transform: none;
            letter-spacing: 0.1em;
        }

        #header.alt p {
            text-transform: uppercase;
            letter-spacing: 0.4em;
            font-weight: 400;
            font-size: 0.8em;
            padding: 0;
        }

        #header.alt .inner {
            max-width: 50em;
        }

    body.is-loading #header.alt:before {
        background-color: black;
    }

    body.is-loading #header.alt .inner {
        opacity: 0;
    }

/* Main */

#main {
    padding: 4em 4em 2em 4em;
    padding: 2em 2em 0.1em 2em;
    background-color: #ffffff;
    border-radius: 4px;
}

    #main > header:first-child {
        text-align: center;
    }

/* Intro */

#intro {
    
    padding: 2em 2em 0.1em 2em;
    background-color: #ffffff;
    border-radius: 4px;
    text-align: center;
}

/* contact */

#contact {
    padding: 2em 2em 0.1em 2em;
    text-align: center;
}

/* Footer */

#footer {
    text-align: center;
    margin-top: 2em;
}

    #footer a {
        color: inherit;
    }

    #footer .copyright {
        font-size: 0.8em;
    }

    #footer:before {
        margin-bottom: 2em;
    }

@media screen and (min-width: 768px) {

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.25em;
}

.projects {
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% + 2em);
    margin: -2em 0 0 -2em;
}

.projects .project {
    margin: 1em 1em 1em 1em;
    width: calc(50% - 5em);
}

#wrapper {
    width: 64em;
    margin: 0 auto;
    max-width: 100%;
    padding: 4em 0 2em 0;
}

    #wrapper > .main {
        margin-bottom: 2em;
    }

#header {
    padding: 8em 0 6em 0;
}

    #header.alt h1 {
        font-size: 4em;
        padding: 0 0.5em 0.25em 0.5em;
    }

    #header.alt p {
        padding: 0 1.25em;
    }

#main {
    padding: 4em 4em 2em 4em;
}

#intro {
    padding: 4em 4em 2em 4em;
}

#contact {
    padding: 2em 0 0.1em 0;
}

#footer {
    margin-top: 4em;
}	
}

@media screen and (min-width: 960px) {

#wrapper {
    width: 64em;
    margin: 0 auto;
    max-width: 100%;
    padding: 4em 0 2em 0;
}

    #wrapper > .main {
        margin-bottom: 4em;
    }

.projects {
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% + 2em);
    margin: -2em 0 0 -2em;
}

    .projects .project {
        margin: 1em 1em 1em 1em;
        width: calc(50% - 5em);
    }
}