/* variables */

:root {
  --bg-color-header: rgb(77, 87, 121);
  --bg-color-section-nav: rgb(76, 116, 50);
  --bg-color-skill: rgba(188, 245, 211, 1);
  --bg-color-work: rgb(188, 224, 245);
  --bg-color-about: rgb(245, 209, 188);

  --text-color: rgb(44, 44, 44);
  --shadow-color: rgba(0, 0, 0, 0.3);

  --sans-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --logo-font: 'Rock Salt', cursive;

  --stickyHeaderHeight: 68px;
}

/*
Styles
- global
- header
- navigation
- content
  - sections
- footer
- media queries
*/

/*****************/
/* global styles */

html {
  padding-top: 0;
}

body {
  color: var(--text-color);
}

h2,
h3 {
  font-family: var(--sans-font);
}

p {
  line-height: 1.45;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #ff8e8c;
  color: #2e4756;
  font-weight: 700;
}

.skill {
  background: var(--bg-color-skill);
}

.portfolio {
  background: var(--bg-color-work);
}

.about {
  background: var(--bg-color-about);
}

.button {
  background: orange;
  padding: 0.25rem 1rem;
  border: none;
  border-top: 1px solid rgb(248, 200, 97);
  border-radius: 1rem;
  box-shadow: 0px 3px 5px var(--shadow-color);
  color: white;
  font-family: var(--sans-font);
  text-shadow: 0 -1px 0 var(--shadow-color);
}

.sticky {
  position: fixed;
  top: var(--stickyHeaderHeight);
  width: 100%;
  z-index: 20;
}

/*****************/
/* header styles */

header {
  background: var(--bg-color-header);
  text-align: center;
}

#title {
  background: var(--bg-color-header);
  color: rgba(255, 255, 255, 1);
  font-family: var(--logo-font);
  margin: 0;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.strapline {
  color: white;
  font-size: 1rem;
  font-weight: 100;
  margin: 4rem 0 1.5rem 0;
  padding: 0.5rem 0 0 0;
}

.strapline .strike {
  text-decoration: line-through;
  color: rgb(112, 123, 156);
}

.strapline .fraction {
  display: inline-block;
  font-size: 1.5rem;
}

#contact {
  background: var(--bg-color-header);
  padding-bottom: 1rem;
}

.button--contact {
  /* display: inline-block; */
  position: relative;
  margin: 0 auto;
}

/*********************/
/* navigation styles */

.section-nav {
  background: var(--bg-color-section-nav);
  display: none;
}

.section-nav ul {
  display: flex;
  justify-content: flex-start;
  max-width: 960px;
  margin: 0 auto;
}

.section-nav ul li {
  flex: 1;
  font-family: var(--sans-font);
  padding: 1rem 0;
  text-align: center;
}

/****************************/
/* main content area styles */

#content {
  display: flex;
  flex-direction: column;
  /* flex: 1; */
}

/******************/
/* section styles */

section {
  box-shadow: 0 0 1rem var(--shadow-color);
}

.section-wrapper {
  display: flex;
  flex-wrap: wrap;
}

section.biog.section--biog {
  box-shadow: none;
  padding: 0 1rem;
}

.biog p {
  font-size: 1.25rem;
  font-style: italic;
}

h3 {
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  margin-top: 0;
  padding: 0.25rem 0;
  text-align: center;
  text-transform: uppercase;
}

.section-header {
  min-width: 100%;
  text-align: center;
}

.section-header::before {
  content: '⫱';
  display: inline-block;
  padding-right: 1rem;
  position: relative;
  top: 0.5rem;
  transform: rotate(90deg);
}

.section-header::after {
  content: '⫱';
  display: inline-block;
  padding-left: 0.75rem;
  position: relative;
  top: 0.4rem;
  transform: rotate(-90deg);
}

.section--skill .section-wrapper div {
  flex: 1;
  margin: 0 0.5rem;
  padding-bottom: 1rem;
}

.section--skill ul li {
  font-family: var(--sans-font);
  margin-bottom: 0.25rem;
}

.section--skill ul li::before {
  border-radius: 1rem;
  content: '✓';
  color: white;
  display: inline-block;
  background: rgba(5, 46, 5, 0.5);
  margin-right: 0.5rem;
  padding: 0.25rem 0.4rem;
}

.section--about {
  padding: 0 0.5rem;
}

.section--about p {
  margin-top: 0;
}

/*****************/
/* footer styles */
footer {
  background: var(--bg-color-header);
  color: white;
  font-family: var(--sans-font);
  padding: 0.5rem 0;
  text-align: center;
}

/*****************/
/* media queries */

@media (min-width: 768px) {
  body {
    /* make page full height in browser */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  #title {
    /* font-size: 4rem; */
  }
  .strapline {
    font-size: 1.5rem;
  }
  #content {
    flex-grow: 1;
  }

  section {
    flex: 3;
  }

  section.biog.section--biog {
    flex: 1;
  }
  section.biog.section--biog {
    padding: 1rem 0;
  }

  .biog p {
    font-size: 1.5rem;
    margin-bottom: 0;
    line-height: 1.2;
  }
  .biog p::first-letter {
    color: white;
    font-family: var(--sans-font);
    font-style: normal;
    font-weight: 900;
    background: black;
    font-size: 3rem;
    line-height: 2.75rem;
    margin-right: 0.5rem;
    padding: 0.25rem 0.75rem;
    float: left;
  }
  .biog p::first-letter {
  }
  .section-header {
    min-width: 25%;
    text-align: left;
    /* margin-left: 2rem; */
  }
  .section-header::before,
  .section-header::after {
    display: none;
  }

  section .section-wrapper {
    max-width: 960px;
    margin: auto;
    padding: 0 2rem;
    flex-wrap: nowrap;
  }

  .section--skill .section-wrapper div {
    margin-top: 1rem;
  }

  .section--about .section-wrapper {
    align-items: flex-start;
  }

  .section--about p {
    margin: 1rem 1rem;
    flex: 1;
  }

  h3 {
    border-top: none;
    text-align: left;
  }
}

@media (min-width: 960px) {
  /* .section--wrapper {
    width: 960px;
    margin: auto;
  } */
}
