* {
  box-sizing: border-box;
 
}

body{
    display: flex;
    font-family: 'Encode Sans', sans-serif;
    margin: 0;
    background: black;
    min-height: 100vh;
   
    color:white;
    }

body 

.app {
  
  display: flex;
  flex:1;
  flex-direction: column;
}



 .contact{

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 20px;
  }
  
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 700px;
  }

  .title h2{
    font-size: 10vw;
  }

.arrow{
  font-size: 50px;
  
}

 .rows h3{

font-size: 1vw;

 }

 .skills{
 
  width: 100%;
  background: yellow;
  padding-bottom: 20px;

  
}

.skills__title{
  display: flex;
  flex-direction: row;
  

}

.skills img{
  width:100px;
  margin: 20px;
}

ul{
   list-style-type: none; 
  }

.skills__logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


  .row1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 800px;
    background: blue;
  }

  .media img{

    width: 70vw;
  }



  
.row2{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 800px;
    background: white;
  }

.companies{
    width: 100%;
    background: blueviolet;
    padding-bottom: 20px;
   
  }

.companies__title{

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

}

.companies img{

  width:100px;
  margin: 20px;

}


.companies__logos {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 
}


  /* .slideb {
      position: absolute;
      top: 50%;
      left:150px;
      width:  200px;
     transform: translatex(-50%) translatey(-50%);
      
    }
    
    .slideb a {
      display: block;
      color: #000000;
      text-decoration: none;
    }    
*/

:hover .slideout {
  bottom: -150%;
    
  }

.slideout {
  position: fixed;
  bottom: -150%;
  width: 100%;
  height:  150%;
  background-color: white ;
  transition:bottom 2s;
  
}

/*
  position: fixed;
  top: 0px;
  left: -300px;
  width: 300px;
  height:  100%;
  background-color: #f8cede ;
  transition: left 1s;
*/

.body__content{
    display:flex;
    flex:1;
    
    
    
   

}

.body__content h1{
   font-size: 64px;
    
}

.footer{

  position: fixed;
  bottom: 3%;
  right: 3%


    
}

.footer__logo {

    
    
}

.dot {
    margin: 0;
    font-size: 100px ;
    
    animation: fadein 2s infinite;
}

.logo {

    margin: 0;
    font-size: 100px ;
    


}

   



    




 /*
bc
  font-size: 64px;
    line-height:  1.2;
  
  body__content a {
    text-decoration: none;
    color: #ffffff;
    position: relative;
  }
  
  body__content img {
    position: absolute;
    top:  -100px;
    left:  -100px;
    width: 400px;
    opacity: 0 ;
    transition:  opacity 1s;
    z-index: 2;
    pointer-events: none;
  }
  
  body__content a:hover  img {
    opacity: 1;
    
    
  }

*/



@keyframes fadein {
    0% {
     opacity: 0;
                }
    50% {
     opacity: 1;
                }
    100% {
     opacity: 0; 
    }

    }

