* {
  box-sizing: border-box;
 
}

body{
    display: flex;
    font-family: 'Encode Sans', sans-serif;
    margin: 0;
    background: black;
    color:black;
    
    }



.app {
  
  display: flex;
  flex:1;
  flex-direction: column;
}



.dot {
  margin: 0;
  font-size: 100px ;
  font-weight: 600;
  color:white;
  animation: fadein 2s infinite;
}

.logo {
  color:white;
  margin: 0;
  font-weight: 600;
  font-size: 100px ;

}

 .contact{

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 20px;
    
  }
  #header{
   
  }
  
  .title {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
   

    
    
  }

  .title h2{
    font-size: 10vw;
    margin-bottom: 0;
  }

.arrow{
  font-size: 4vw;
  margin-top: 0;
  
}

.rows{
  
}

 .rows h3{
font-size: 1vw;
 
 }

 .skills{
 
  width: 100%;
  background: white;
  padding-bottom: 20px;
 
 

  
}

.skills__title{
  display: flex;
  flex-direction: row;
  color:black;

}

.skills img{
  width:100px;
  margin: 20px;
}

ul{
   list-style-type: none; 
  }

.skills__logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


  .row1{
    height: 800px;
    background: white;
    display: flex;
    align-content: flex-start;
    
  }

 

  .row__media img{
    width: 700px; 
    
  }

  .row__media h3{  
    float: right;
  font-size: 20px;
  font-weight: 300; 
  margin: 100px -250px -200px 100px;
 
  }

  .row__media h4{  
    float: top;
  font-size: 30px;
  margin: 0px 0 0px 50px;

  }


  .row1__left__box{
   margin: 50px 0 0 200px;
    
  }

  .row1__left__box h4{
    font-weight: 300; 
  }
/*
 .row1__right__box{
  display: flex;
  
  flow:1;

 }
*/


  
.row2{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 800px;
    background: white;
  }

.companies{
    width: 100%;
    background: blueviolet;
    padding-bottom: 20px;
   
  }

.companies__title{

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

}

.companies img{

  width:100px;
  margin: 20px;

}


.companies__logos {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 
}

.about {
  display: flex;
  justify-content: flex-start;
  height: 800px;
  background: white;
  color: black;

}


/* transition animation effect */
:hover .slideout {
  bottom: -150%;
    
  }

.slideout {
  position: fixed;
  bottom: -150%;
  width: 100%;
  height:  150%;
  background-color: white ;
  transition:bottom 2s;
  
}


.body__content{
    display:flex;
    flex:1;
}

.body__content h1{
   font-size: 64px;
    
}

.footer{

  position: fixed;
  bottom: 3%;
  right: 3%


    
}

.footer__logo {

    
    
}


  



@keyframes fadein {
    0% {
     opacity: 0;
                }
    50% {
     opacity: 1;
                }
    100% {
     opacity: 0; 
    }

    }

